*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

body {
  /* height: 100vh; */
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #5f564d;
  background-color: #ffffff;
  line-height: 1.5;
}
/** Typography */
h1 {
  font-family: "Young Serif", serif;
  color: #312e2c;
  font-weight: 400;
  line-height: 1;
  font-size: 2.25rem;
  margin-top: 2.5rem;
}

h2 {
  font-family: "Young Serif", serif;
  color: #854632;
  font-size: 1.75rem;
  font-weight: 400;
}

img {
  width: 100%;
}

/* ! Main content */
.container {
  /* border: 5px solid rebeccapurple; */

  margin: 0 auto;
  padding: 2.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.description {
  margin-top: 1.5em;
}
.preparation {
  background-color: #fff7fb;
  padding: 1.5em;
  border-radius: 0.75em;
}

.preparation > p {
  color: #7a284e;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1em;
  font-size: 1.25rem;
}

.preparation ul {
  padding-left: 2em;
}
.preparation li {
  padding-left: 1em;
}

.preparation li::marker {
  color: #7a284e;
}
.preparation,
.ingredients,
.instructions,
.nutrition {
  align-self: stretch;
}
.ingredients h2,
.instructions h2,
.nutrition h2 {
  margin-bottom: 1.5rem;
}

/* .ingredients ul,.instructions ol{
  padding-left: 1.2em;
} */

.recipe-list {
  padding-left: 1.2rem;
}

/* .ingredients li,.instructions li{
  padding-left: 1em;
}

.ingredients li::marker,.instructions li::marker{
  color: #854632;
} */

.recipe-list li {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.recipe-list li::marker {
  color: #854632;
}

.nutrition-table {
  margin-top: 1.5em;
  /* border: 2px solid red; */
  font-size: 1rem;
}

.nutrition-quantity {
  color: #854632;
  font-weight: 700;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #e3ddd7;
}
table td {
  padding: 0.75em 2em;
}

hr {
  width: 100%;
  background-color: #e3ddd7;
  height: 1px;
}

footer {
  text-align: center;
  margin-top: 1em;
}

footer a {
  color: #7a284e;
}

@media (max-width: 599px) {
  .heading > img {
    margin-left: -2.5em; /* negative margin to offset container padding */
    margin-right: -2.5em;
    margin-top: -2.5em;
    flex: none;
    width: calc(100% + 5em);
    /*         
        position: absolute;
    top: 0;
    left: 0;
    /* width: 100vw; full viewport width */
    /*margin-bottom: 10px;
    padding-bottom: 10px;
    max-width: none; */
    /* flex: none; */
    /* flex: none; 
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important; /* full available width */
    /*max-width: 100% !important;
    /* box-sizing: border-box; */
    /*if flex property affects size */
  }
}

@media (min-width: 601px) {
  body {
    background-color: #f3e5d7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 7em;
    /* border: #854632 5px solid; */
  }

  .container {
    background-color: #ffffff;
    width: 80%;
    padding: 2.5em;
    border-radius: 1.5em;
    /* margin: 2.5em; */
    /* max-width: 768px; */
  }

  h1 {
    font-size: 2.5rem;
  }
  img {
    border-radius: 0.75em;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 900px) {
  /* 900px */

  .container {
    max-width: 48em;
  }
  img {
    width: 100%;
    height: auto;
  }
}
